//Custom Variables

//Colors
$white:    		#fff ;
$gray-50:		#FAFAFA;
$gray-100:		#F5F5F5;
$gray-200: 		#EEEEEE;
$gray-300: 		#E0E0E0;
$gray-400: 		#BDBDBD;
$gray-500: 		#9E9E9E;
$gray-600: 		#757575;
$gray-700: 		#616161;
$gray-800: 		#424242;
$gray-900: 		#212121;
$black:    		#000 ;


$red-50:    #FFEBEE;
$red-100:   #FFCDD2;
$red-200:   #EF9A9A;
$red-300:   #E57373;
$red-400:   #EF5350;
$red-500:   #F44336;
$red-600:   #E53935;
$red-700:   #D32F2F;
$red-800:   #C62828;
$red-900:	#B71C1C;

$red-A100:  #FF8A80;
$red-A200:  #FF5252;
$red-A400:  #FF1744;
$red-A700:  #D50000;


$pink-50:		#FCE4EC;
$pink-100:  	#F8BBD0;
$pink-200:  	#F48FB1;
$pink-300:  	#F06292;
$pink-400:  	#EC407A;
$pink-500:  	#E91E63;
$pink-600:  	#D81B60;
$pink-700:  	#C2185B;
$pink-800:  	#AD1457;
$pink-900:  	#880E4F;

$pink-A100: 	#FF80AB;
$pink-A200: 	#FF4081;
$pink-A400: 	#F50057;
$pink-A700: 	#C51162;


$purple-50:		#F3E5F5;
$purple-100: 	#E1BEE7;
$purple-200:   	#CE93D8;
$purple-300:    #BA68C8;
$purple-400:    #AB47BC;
$purple-500:    #9C27B0;
$purple-600:    #8E24AA;
$purple-700:    #7B1FA2;
$purple-800:    #6A1B9A;
$purple-900:    #4A148C;

$purple-A100:   #EA80FC;
$purple-A200:   #E040FB;
$purple-A400:   #D500F9;
$purple-A700:   #AA00FF;

$deep-purple-50:	#EDE7F6;
$deep-purple-100:   #D1C4E9;
$deep-purple-200:   #B39DDB;
$deep-purple-300:   #9575CD;
$deep-purple-400:   #7E57C2;
$deep-purple-500:   #673AB7;
$deep-purple-600:   #5E35B1;
$deep-purple-700:   #512DA8;
$deep-purple-800:   #4527A0;
$deep-purple-900:   #311B92;

$deep-purple-A100:  #B388FF;
$deep-purple-A200:  #7C4DFF;
$deep-purple-A400:  #651FFF;
$deep-purple-A700:  #6200EA;

$indigo-50:		#E8EAF6;
$indigo-100:    #C5CAE9;
$indigo-200:    #9FA8DA;
$indigo-300:    #7986CB;
$indigo-400:    #5C6BC0;
$indigo-500:    #3F51B5;
$indigo-600:    #3949AB;
$indigo-700:    #303F9F;
$indigo-800:    #283593;
$indigo-900:    #1A237E;

$indigo-A100:   #8C9EFF;
$indigo-A200:   #536DFE;
$indigo-A400:   #3D5AFE;
$indigo-A700:   #304FFE;

$blue-50:     	#E3F2FD;
$blue-100:     	#BBDEFB;
$blue-200:    	#90CAF9;
$blue-300:    	#64B5F6;
$blue-400:    	#42A5F5;
$blue-500:     	#2196F3;
$blue-600:     	#1E88E5;
$blue-700:     	#1976D2;
$blue-800:     	#1565C0;
$blue-900:     	#0D47A1;

$blue-A100:     #82B1FF;
$blue-A200:     #448AFF;
$blue-A400:    	#2979FF;
$blue-A700:    	#2962FF;


$light-blue-50:		#E1F5FE;
$light-blue-100:	#B3E5FC;
$light-blue-200:    #81D4FA;
$light-blue-300:    #4FC3F7;
$light-blue-400:    #29B6F6;
$light-blue-500:   	#03A9F4;
$light-blue-600:   	#039BE5;
$light-blue-700:   	#0288D1;
$light-blue-800:   	#0277BD;
$light-blue-900:   	#01579B;

$light-blue-A100:   #80D8FF;
$light-blue-A200:  	#40C4FF;
$light-blue-A400:  	#00B0FF;
$light-blue-A700:  	#0091EA;


$cyan-50:		#E0F7FA;
$cyan-100:     	#B2EBF2;
$cyan-200:    	#80DEEA;
$cyan-300:    	#4DD0E1;
$cyan-400:    	#26C6DA;
$cyan-500:     	#00BCD4;
$cyan-600:     	#00ACC1;
$cyan-700:     	#0097A7;
$cyan-800:     	#00838F;
$cyan-900:     	#006064;

$cyan-A100:     #84FFFF;
$cyan-A200:    	#18FFFF;
$cyan-A400:    	#00E5FF;
$cyan-A700:    	#00B8D4;


$teal-50:     	#E0F2F1;
$teal-100:     	#B2DFDB;
$teal-200:    	#80CBC4;
$teal-300:    	#4DB6AC;
$teal-400:    	#26A69A;
$teal-500:     	#009688;
$teal-600:     	#00897B;
$teal-700:     	#00796B;
$teal-800:     	#00695C;
$teal-900:      #004D40;

$teal-A100:     #A7FFEB;
$teal-A200:     #64FFDA;
$teal-A400:    	#1DE9B6;
$teal-A700:    	#00BFA5;


$green-50:     	#E8F5E9;
$green-100:     #C8E6C9;
$green-200:    	#A5D6A7;
$green-300:    	#81C784;
$green-400:    	#66BB6A;
$green-500:     #4CAF50;
$green-600:     #43A047;
$green-700:     #388E3C;
$green-800:     #2E7D32;
$green-900:     #1B5E20;

$green-A100:    #B9F6CA;
$green-A200:    #69F0AE;
$green-A400:    #00E676;
$green-A700:    #00C853;


$light-green-50:    #F1F8E9;
$light-green-100:	#DCEDC8;
$light-green-200:   #C5E1A5;
$light-green-300:   #AED581;
$light-green-400:   #9CCC65;
$light-green-500:   #8BC34A;
$light-green-600:   #7CB342;
$light-green-700:   #689F38;
$light-green-800:   #558B2F;
$light-green-900:   #33691E;

$light-green-A100:  #CCFF90;
$light-green-A200:  #B2FF59;
$light-green-A400:  #76FF03;
$light-green-A700:  #64DD17;


$lime-50:     	#F9FBE7;
$lime-100:		#F0F4C3;
$lime-200:   	#E6EE9C;
$lime-300:    	#DCE775;
$lime-400:    	#D4E157;
$lime-500:    	#CDDC39;
$lime-600:   	#C0CA33;
$lime-700:   	#AFB42B;
$lime-800:   	#9E9D24;
$lime-900:   	#827717;

$lime-A100:   	#F4FF81;
$lime-A200:   	#EEFF41;
$lime-A400:   	#C6FF00;
$lime-A700:   	#AEEA00;


$yellow-50:		#FFFDE7;
$yellow-100:    #FFF9C4;
$yellow-200:    #FFF59D;
$yellow-300:    #FFF176;
$yellow-400:    #FFEE58;
$yellow-500:   	#FFEB3B;
$yellow-600:    #FDD835;
$yellow-700:    #FBC02D;
$yellow-800:    #F9A825;
$yellow-900:    #F57F17;

$yellow-A100:   #FFFF8D;
$yellow-A200:   #FFFF00;
$yellow-A400:   #FFEA00;
$yellow-A700:   #FFD600;


$amber-50:		#FFF8E1;
$amber-100:    	#FFECB3;
$amber-200:    	#FFE082;
$amber-300:    	#FFD54F;
$amber-400:    	#FFCA28;
$amber-500:   	#FFC107;
$amber-600:    	#FFB300;
$amber-700:    	#FFA000;
$amber-800:    	#FF8F00;
$amber-900:    	#FF6F00;

$amber-A100:   	#FFE57F;
$amber-A200:   	#FFD740;
$amber-A400:   	#FFC400;
$amber-A700:   	#FFAB00;


$orange-50:		#FFF3E0;
$orange-100:    #FFE0B2;
$orange-200:    #FFCC80;
$orange-300:    #FFB74D;
$orange-400:    #FFA726;
$orange-500:   	#FF9800;
$orange-600:    #FB8C00;
$orange-700:    #F57C00;
$orange-800:    #EF6C00;
$orange-900:    #E65100;

$orange-A100:   #FFD180;
$orange-A200:   #FFAB40;
$orange-A400:   #FF9100;
$orange-A700:   #FF6D00;


$deep-orange-50:	#FBE9E7;
$deep-orange-100:	#FFCCBC;
$deep-orange-200:   #FFAB91;
$deep-orange-300:   #FF8A65;
$deep-orange-400:   #FF7043;
$deep-orange-500:   #FF5722;
$deep-orange-600:   #F4511E;
$deep-orange-700:   #E64A19;
$deep-orange-800:   #D84315;
$deep-orange-900:   #BF360C;

$deep-orange-A100:  #FF9E80;
$deep-orange-A200:  #FF6E40;
$deep-orange-A400:  #FF3D00;
$deep-orange-A700:  #DD2C00;


$brown-50:		#EFEBE9;
$brown-100:		#D7CCC8;
$brown-200:    	#BCAAA4;
$brown-300:    	#A1887F;
$brown-400:    	#8D6E63;
$brown-500:   	#795548;
$brown-600:    	#6D4C41;
$brown-700:    	#5D4037;
$brown-800:    	#4E342E;
$brown-900:    	#3E2723;


$blue-gray-50:		#ECEFF1;
$blue-gray-100:		#CFD8DC;
$blue-gray-200:    	#B0BEC5;
$blue-gray-300:    	#90A4AE;
$blue-gray-400:    	#78909C;
$blue-gray-500:   	#607D8B;
$blue-gray-600:    	#546E7A;
$blue-gray-700:    	#455A64;
$blue-gray-800:    	#37474F;
$blue-gray-900:    	#263238;

//override bootstrap colors to material design colors
$blue : $blue-500;
$indigo : $indigo-500;
$purple : $purple-500;
$pink : $pink-500;
$red : $red-500;
$orange : $orange-500;
$yellow : $yellow-700;
$green : $green-500;
$teal : $teal-500;
$cyan : $cyan-700;

$colors: (
	"deep-purple":	$deep-purple-500,
  	"light-blue": 	$light-blue-500,
  	"light-green": 	$light-green-500,
  	"lime":			$lime-500,
  	"amber":		$amber-500,
  	"deep-orange":	$deep-orange-500,
  	"brown":		$brown-500,
  	"blue-gray":	$blue-gray-500

);


//Custom Color Scheme
$primary-light:		$cyan-400;
$primary:       	$cyan-600;
$primary-dark:		$cyan-800;
$secondary:     	$green-A700;


//Add Primary Dark and Primary Light themes
$theme-colors: (
  "primary-dark": 		$primary-dark,
  "primary-light": 		$primary-light,
);


// -- Shadows --
// Shadows provide cues about depth, direction of movement, and surface edges.
// A surface’s shadow is determined by its elevation and relationship to other
// surfaces.
$enable-shadows: true ;

//https://material.io/design/environment/elevation.html
//Nav drawer: 16dp
//App bar: 4dp
//Card: 1dp to 8dp
//FAB: 6dp
//Button: 2dp to 8dp
//Dialog: 24dp

//Shadows from Material Design Lite
$shadow-2: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
$shadow-3: 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 3px 3px -2px rgba(0, 0, 0, 0.2), 0 1px 8px 0 rgba(0, 0, 0, 0.12);
$shadow-4: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
$shadow-6: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2);
$shadow-8: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
$shadow-16: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
$shadow-24: 0 9px 46px 8px rgba(0, 0, 0, 0.14), 0 11px 15px -7px rgba(0, 0, 0, 0.12), 0 24px 38px 3px rgba(0, 0, 0, 0.2);


// -- State --
//https://material.io/design/interaction/states.html#anatomy

// States are visual representations used to communicate the status of a
// component or interactive element.

//custom variables
$hover-opacity-light:		.04;
$focus-opacity-light:		.12;
$active-opacity-light: 	.16;

$hover-opacity-dark:		1 - ($hover-opacity-light * 2);
$focus-opacity-dark:		1 - ($focus-opacity-light * 2);
$active-opacity-dark: 	1 - ($active-opacity-light * 2);

$disabled-opacity:	.38;

// -- End States --


// -- Components --
//
// Define common padding and border radius sizes and more.

//$line-height-lg:              1.5 !default;
//$line-height-sm:              1.5 !default;

//$border-width:                1px !default;
//$border-color:                $gray-300 !default;

//Shape
//https://material.io/design/shape/about-shape.html#shaping-material
$border-radius:               4px;			//.25rem !default;
$border-radius-lg:            4px;			//.3rem !default;
$border-radius-sm:            4px;			//.2rem !default;

$box-shadow-sm:               $shadow-2;		//0 .125rem .25rem rgba($black, .075) !default;
$box-shadow:                  $shadow-6; 		//0 .5rem 1rem rgba($black, .15) !default;
$box-shadow-lg:               $shadow-24; 		//0 1rem 3rem rgba($black, .175) !default;

//$component-active-color:      $white !default;
//$component-active-bg:         theme-color("primary") !default;

//$caret-width:                 .3em !default;

//$transition-base:             all .2s ease-in-out !default;
//$transition-fade:             opacity .15s linear !default;
//$transition-collapse:         height .35s ease !default;




// -- Typography --

//https://material.io/design/typography/the-type-system.html#type-scale
$font-size-conversion-ratio: .0625rem; //custom variable


// Fonts
//
// Font, line-height, and color for body text, headings, and more.

// stylelint-disable value-keyword-case
//$font-family-sans-serif:      -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$font-family-sans-serif:	"Roboto", "Helvetica", "Arial", sans-serif;
//$font-family-monospace:       SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
//$font-family-base:            $font-family-sans-serif !default;
// stylelint-enable value-keyword-case

//$font-size-base:              1rem; !default; // Assumes the browser default, typically `16px`
//$font-size-lg:                ($font-size-base * 1.25) !default;
//$font-size-sm:                ($font-size-base * .875) !default;

$font-weight-light:           300;
$font-weight-normal:          400; //equivalent to 'Regular' in material design
$font-weight-medium:          500; // custom variable
$font-weight-bold:            700;

$font-weight-base:            $font-weight-normal; //!default;
$line-height-base:            1.5; 			//!default;

$h1-font-size:                96px; //$font-size-base * 2.5 !default;
$h2-font-size:                60px; //$font-size-base * 2 !default;
$h3-font-size:                $font-size-conversion-ratio * 48; //$font-size-base * 1.75 !default;
$h4-font-size:                $font-size-conversion-ratio * 34; //$font-size-base * 1.5 !default;
$h5-font-size:                $font-size-conversion-ratio * 24; //$font-size-base * 1.25 !default;
$h6-font-size:                $font-size-conversion-ratio * 20; //$font-size-base !default;

//$headings-margin-bottom:      ($spacer / 2) !default;
// $headings-font-family:        inherit !default;
// $headings-font-weight:        500 !default;
// $headings-line-height:        1.2 !default;
// $headings-color:              inherit !default;
//
$display1-size:               $h1-font-size;			//6rem !default;
$display2-size:               $h2-font-size;			//5.5rem !default;
$display3-size:               $h3-font-size;			//4.5rem !default;
$display4-size:               $h4-font-size;			//3.5rem !default;
//
$display1-weight:             $font-weight-light;			//300 !default;
$display2-weight:             $font-weight-light;			//300 !default;
$display3-weight:             $font-weight-normal;			//300 !default;
$display4-weight:             $font-weight-normal;			//300 !default;
//$display-line-height:         $headings-line-height !default;
//
// $lead-font-size:              ($font-size-base * 1.25) !default;
// $lead-font-weight:            300 !default;
//
// $small-font-size:             80% !default;
//
// $text-muted:                  $gray-600 !default;
//
// $blockquote-small-color:      $gray-600 !default;
// $blockquote-font-size:        ($font-size-base * 1.25) !default;


//https://material.io/design/components/dividers.html#specs
$hr-border-color:             rgba($black, .12);
// $hr-border-width:             $border-width !default;

// $mark-padding:                .2em !default;
//
// $dt-font-weight:              $font-weight-bold !default;
//
// $kbd-box-shadow:              inset 0 -.1rem 0 rgba($black, .25) !default;
// $nested-kbd-font-weight:      $font-weight-bold !default;
//
// $list-inline-padding:         .5rem !default;
//
// $mark-bg:                     #fcf8e3 !default;
//
// $hr-margin-y:                 $spacer !default;



// Tables
// https://material.io/design/components/data-tables.html#specs
// Customizes the `.table` component with basic values, each used across all table variations.

//$table-cell-padding:          .75rem !default;
//$table-cell-padding-sm:       .3rem !default;

//$table-bg:                    transparent !default;
//$table-accent-bg:             rgba($black, .05) !default;
//$table-hover-bg:              rgba($black, .075) !default;
//$table-active-bg:             $table-hover-bg !default;

//$table-border-width:          $border-width !default;
//$table-border-color:          $gray-300 !default;

$table-head-bg:               $white;			//$gray-200 !default;
$table-head-color:            rgba($black, .6);			//$gray-700 !default;

//$table-dark-bg:               $gray-900 !default;
//$table-dark-accent-bg:        rgba($white, .05) !default;
//$table-dark-hover-bg:         rgba($white, .075) !default;
//$table-dark-border-color:     lighten($gray-900, 7.5%) !default;
//$table-dark-color:            $body-bg !default;

//$table-striped-order:         odd !default;

//$table-caption-color:         $text-muted !default;



// Buttons + Forms
//
// Shared variables that are reassigned to `$input-` and `$btn-` specific variables.

//$input-btn-padding-y:         .375rem !default;
//$input-btn-padding-x:         .75rem !default;
//$input-btn-line-height:       $line-height-base !default;

//$input-btn-focus-width:       .2rem !default;
//$input-btn-focus-color:       rgba($component-active-bg, .25) !default;
//$input-btn-focus-box-shadow:  0 0 0 $input-btn-focus-width $input-btn-focus-color !default;

//$input-btn-padding-y-sm:      .25rem !default;
//$input-btn-padding-x-sm:      .5rem !default;
//$input-btn-line-height-sm:    $line-height-sm !default;

//$input-btn-padding-y-lg:      .5rem !default;
//$input-btn-padding-x-lg:      1rem !default;
//$input-btn-line-height-lg:    $line-height-lg !default;

//$input-btn-border-width:      $border-width !default;


// Buttons

// https://material.io/design/components/buttons.html#specs
// https://material.io/design/typography/understanding-typography.html#readability

//button height is 36 and the line height for 14px font-size is 20px
//so I made the padding-y to be 8px; 8 + 8 + 20 = 36

//
// For each of Bootstrap's buttons, define text, background, and border color.

$btn-padding-y:               8px;			//$input-btn-padding-y !default;
$btn-padding-x:               16px;			//$input-btn-padding-x !default;
$btn-line-height:             20px;			//$input-btn-line-height !default;

$btn-padding-y-sm:            8px;			//$input-btn-padding-y-sm !default;
$btn-padding-x-sm:            16px;			//$input-btn-padding-x-sm !default;
$btn-line-height-sm:          20px;			//$input-btn-line-height-sm !default;

$btn-padding-y-lg:            8px;			//$input-btn-padding-y-lg !default;
$btn-padding-x-lg:            16px;			//$input-btn-padding-x-lg !default;
$btn-line-height-lg:          20px;			//$input-btn-line-height-lg !default;

$btn-border-width:            0px;			//$input-btn-border-width !default;

$btn-font-weight:             $font-weight-medium;			//$font-weight-normal !default;
$btn-box-shadow:              $shadow-2;			//inset 0 1px 0 rgba($white, .15), 0 1px 1px rgba($black, .075) !default;
$btn-focus-width:             0px;						//$input-btn-focus-width !default;
$btn-focus-box-shadow:        $shadow-3;			//$input-btn-focus-box-shadow !default;

//https://material.io/design/interaction/states.html#disabled
$btn-disabled-opacity:        $disabled-opacity;			//.65 !default;
$btn-active-box-shadow:       $shadow-8;	//inset 0 3px 5px rgba($black, .125) !default;

//$btn-link-disabled-color:     $gray-600 !default;

//$btn-block-spacing-y:         .5rem !default;

// Allows for customizing button radius independently from global border radius
//$btn-border-radius:           $border-radius !default;
//$btn-border-radius-lg:        $border-radius-lg !default;
//$btn-border-radius-sm:        $border-radius-sm !default;

//$btn-transition:              color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out !default;


//forms

//re-do / reorganize

// $custom-control-gutter:                 1.5rem !default;
// $custom-control-spacer-x:               1rem !default;

// $custom-control-indicator-size:         1rem !default;

//background color when not checked
//$custom-control-indicator-bg:           $gray-300 !default;
//$custom-control-indicator-bg-size:      50% 50% !default;

//interior shadow
$custom-control-indicator-box-shadow:		none;			//inset 0 .25rem .25rem rgba($black, .1) !default;

// $custom-control-indicator-disabled-bg:          $gray-200 !default;
// $custom-control-label-disabled-color:           $gray-600 !default;

//check mark / center dot color
// $custom-control-indicator-checked-color:        $component-active-color !default;

//background color when checked
$custom-control-indicator-checked-bg:           $secondary;			//$component-active-bg !default;


// $custom-control-indicator-checked-disabled-bg:  rgba(theme-color("primary"), .5) !default;

//shadow when checked but does not have focus
//$custom-control-indicator-checked-box-shadow:   none !default;

//Shadow when it has focus
$custom-control-indicator-focus-box-shadow:     0 0 0px 8px rgba($secondary,$focus-opacity-light);			//0 0 0 1px $body-bg, $input-btn-focus-box-shadow !default;

//no idea
//$custom-control-indicator-active-color:         $component-active-color !default;

//Color when pressing down.
$custom-control-indicator-active-bg:            $secondary;			//lighten($component-active-bg, 35%) !default;

//Shadow when pressing down.
$custom-control-indicator-active-box-shadow:    0 0 0px 8px rgba($secondary,$active-opacity-light);			//none !default;

//border radius
// $custom-checkbox-indicator-border-radius:       $border-radius !default;
// $custom-checkbox-indicator-icon-checked:        str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='#{$custom-control-indicator-checked-color}' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E"), "#", "%23") !default;

// $custom-checkbox-indicator-indeterminate-bg:          $component-active-bg !default;
// $custom-checkbox-indicator-indeterminate-color:       $custom-control-indicator-checked-color !default;
// $custom-checkbox-indicator-icon-indeterminate:        str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 4'%3E%3Cpath stroke='#{$custom-checkbox-indicator-indeterminate-color}' d='M0 2h4'/%3E%3C/svg%3E"), "#", "%23") !default;
// $custom-checkbox-indicator-indeterminate-box-shadow:  none !default;

// $custom-radio-indicator-border-radius:          50% !default;	//shape of the radio
// $custom-radio-indicator-icon-checked:           str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3E%3Ccircle r='3' fill='#{$custom-control-indicator-checked-color}'/%3E%3C/svg%3E"), "#", "%23") !default;


//Loosely based off of material design text-fields
//https://material.io/design/components/text-fields.html#spec

$custom-select-padding-y:           8px;			//.375rem !default;
$custom-select-padding-x:           12px;			//.75rem !default;
$custom-select-height:              40px;			//$input-height !default;
$custom-select-indicator-padding:   0px;			//1rem !default; // Extra padding to account for the presence of the background-image based indicator
$custom-select-line-height:         20px;			//$input-btn-line-height !default;
// $custom-select-color:               $input-color !default;
// $custom-select-disabled-color:      $gray-600 !default;
// $custom-select-bg:                  $input-bg !default;
// $custom-select-disabled-bg:         $gray-200 !default;
// $custom-select-bg-size:             8px 10px !default; // In pixels because image dimensions
// $custom-select-indicator-color:     $gray-800 !default;
// $custom-select-indicator:           str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='#{$custom-select-indicator-color}' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E"), "#", "%23") !default;
// $custom-select-border-width:        $input-btn-border-width !default;
// $custom-select-border-color:        $input-border-color !default;
// $custom-select-border-radius:       $border-radius !default;

$custom-select-focus-border-color:  $primary;			//$input-focus-border-color !default;
$custom-select-focus-box-shadow:    none; //inset 0 1px 2px rgba($black, .075), 0 0 5px rgba($custom-select-focus-border-color, .5) !default;

// $custom-select-font-size-sm:        75% !default;
// $custom-select-height-sm:           $input-height-sm !default;

// $custom-select-font-size-lg:        125% !default;
// $custom-select-height-lg:           $input-height-lg !default;




// Navbar
// https://material.io/design/components/app-bars-top.html#specs
$navbar-padding-y:       			16px; //($spacer / 2) !default;
$navbar-padding-x:           	16px; //$spacer !default;

$navbar-nav-link-padding-x:		24px;

$navbar-dark-color:					rgba($white,.7);
$navbar-dark-hover-color:		$white;



// Tooltips
//https://material.io/design/components/tooltips.html#spec

//$tooltip-font-size:                 $font-size-sm !default;
//$tooltip-max-width:                 200px !default;
//$tooltip-color:                     $white !default;
$tooltip-bg:                        $gray-700; 			//$black !default;
//$tooltip-border-radius:             $border-radius !default;
$tooltip-opacity:                   .9;
//$tooltip-padding-y:                 .25rem !default;
$tooltip-padding-x:                 8px;			//.5rem !default;
//$tooltip-margin:                    0 !default;

$tooltip-arrow-width:               0px;			//.8rem !default;
$tooltip-arrow-height:              0px;			//.4rem !default;
//$tooltip-arrow-color:               $tooltip-bg !default;




@import "../bootstrap/scss/bootstrap";



// -- Post import stuff --



//custom select was missing this
.custom-select {
	-webkit-appearance: none;
	-moz-appearance: none;
}



//Typography
//change font-weight and letter-spacing
//Letter spacing
// NOT originally from bootstrap

$h1-letter-spacing:			-1.5px;
$h2-letter-spacing:			-0.5px;
$h3-letter-spacing:			0px;
$h4-letter-spacing:			.25px;
$h5-letter-spacing:			0px;
$h6-letter-spacing:			.15px;

$body-letter-spacing:		.5px;
$button-letter-spacing:		.75px;

body,p {
	font-weight: 		$font-weight-medium;
	letter-spacing: $body-letter-spacing;
}

h1,.h1,.display-1 {
	font-weight: 		$font-weight-light;
	letter-spacing: $h1-letter-spacing;
}

h2,.h2,.display-2 {
	font-weight: 		$font-weight-light;
	letter-spacing: $h2-letter-spacing;
}

h3,.h3,.display-3 {
	font-weight: 		$font-weight-normal;
	letter-spacing: $h3-letter-spacing;
}

h4,.h4,.display-4 {
	font-weight: 		$font-weight-normal;
	letter-spacing: $h4-letter-spacing;
}

h5,.h5 {
	font-weight: 		$font-weight-normal;
	letter-spacing: $h5-letter-spacing;
}


h6,.h6 {
	font-weight: 		$font-weight-medium;
	letter-spacing: $h6-letter-spacing;
}


//Responsive Typography


@include media-breakpoint-up(xs) {
	// 1/2
	// .display-1 { font-size:	$display1-size * .5;}
	// .display-2 { font-size: $display2-size * .5;}
	// .display-3 { font-size: $display3-size * .5;}
	// .display-4 { font-size: $display4-size * .5;}
	.display-1 { font-size:	$display1-size * .5;}			//96 * .5 	= 48
	.display-2 { font-size: $display2-size * .625;}		//60 * .625 	= 37.5
	.display-3 { font-size: $display3-size * .75;}		//48 * .75 	= 36
	.display-4 { font-size: $display4-size * .875;}		//34 * .875 = 29.75

}

@include media-breakpoint-up(sm) {
	// 5/8
	// .display-1 { font-size:	$display1-size * .625;}
	// .display-2 { font-size: $display2-size * .625;}
	// .display-3 { font-size: $display3-size * .625;}
	// .display-4 { font-size: $display4-size * .625;}
	.display-1 { font-size:	$display1-size * .625;}		//96 * .625 = 60
	.display-2 { font-size: $display2-size * .625;}		//60 * .625 	= 37.5
	.display-3 { font-size: $display3-size * .75;}		//48 * .75 	= 36
	.display-4 { font-size: $display4-size * .875;}		//34 * .875 = 29.75

}

@include media-breakpoint-up(md) {
	// 3/4
	// .display-1 { font-size:	$display1-size * .75;}
	// .display-2 { font-size: $display2-size * .75;}
	// .display-3 { font-size: $display3-size * .75;}
	// .display-4 { font-size: $display4-size * .75;}
	.display-1 { font-size:	$display1-size * .75;}		//96 * .75 	= 72
	.display-2 { font-size: $display2-size * .75;}		//60 * .75 	= 45
	.display-3 { font-size: $display3-size * .75;}		//48 * .75 	= 36
	.display-4 { font-size: $display4-size * .875;}		//34 * .875 = 29.75

}

@include media-breakpoint-up(lg) {
	// 7/8
	// .display-1 { font-size:	$display1-size * .875;}
	// .display-2 { font-size: $display2-size * .875;}
	// .display-3 { font-size: $display3-size * .875;}
	// .display-4 { font-size: $display4-size * .875;}
	.display-1 { font-size:	$display1-size * .875;}		//96 * .875 	= 84
	.display-2 { font-size: $display2-size * .875;}		//60 * .875 	= 52.5
	.display-3 { font-size: $display3-size * .875;}		//48 * .875 	= 42
	.display-4 { font-size: $display4-size * .875;}		//34 * .875 = 29.75
}

@include media-breakpoint-up(xl) {
	.display-1 { font-size:	$display1-size;}
	.display-2 { font-size: $display2-size;}
	.display-3 { font-size: $display3-size;}
	.display-4 { font-size: $display4-size;}
}



//Shadows
//Add shadows to components
.jumbotron	{box-shadow: $shadow-2;}
.navbar 		{box-shadow: 		$shadow-4;}
.card 			{box-shadow: 			$shadow-2;}


//Buttons

.btn {
	text-transform: 	uppercase;
	font-size: 				$font-size-conversion-ratio * 14;
	letter-spacing: 	$button-letter-spacing;
	font-weight:			$font-weight-medium;
}

$btn-outline-border-color:	rgba($black,.12);

//Button States

//
$btn-outline-hover-opacity:		$hover-opacity-light;
$btn-outline-focus-opacity:		$focus-opacity-light;
$btn-outline-active-opacity:	$active-opacity-light;

// 1 - outline opacity
$btn-hover-opacity:		$hover-opacity-dark;
$btn-focus-opacity:		$focus-opacity-dark;
$btn-active-opacity:	$active-opacity-dark;


//changes to contained buttons
//https://material.io/design/components/buttons.html#contained-button

@each $color, $value in $theme-colors {
	.btn-#{$color} {

		&:not(:disabled):not(.disabled):hover {
    		background-color: 	rgba($value, $btn-hover-opacity);
		}

		&:not(:disabled):not(.disabled):focus,
		&:not(:disabled):not(.disabled).focus {
  		background-color: 	rgba($value, $btn-focus-opacity);
			//https://material.io/design/interaction/states.html#focus
			//Some components, such as button, chips or cards, can inherit (1) elevation to signify a focus state
			box-shadow: 				$shadow-3;
		}

		&:not(:disabled):not(.disabled):active,
		&:not(:disabled):not(.disabled).active {
  		background-color: 	rgba($value, $btn-active-opacity);
		}

		&:disabled,
		&.disabled {
  		background-color:	$btn-outline-border-color;
    	color:						rgba($black,$btn-disabled-opacity);
			opacity: 					100;
  		box-shadow:				none;
		}
	}
}


//Changes to the outline buttons
//https://material.io/design/components/buttons.html#outlined-button

@each $color, $value in $theme-colors {
	.btn-outline-#{$color} {
		border: 1px solid transparent;
		border-color: $btn-outline-border-color;


		&:not(:disabled):not(.disabled):hover {
    		background-color:	rgba($value, $btn-outline-hover-opacity);
    		border-color: 		$btn-outline-border-color;
    		color:						$value;
  	}

  	&:not(:disabled):not(.disabled):focus,
		&:not(:disabled):not(.disabled).focus {
  		background-color:	rgba($value,$btn-outline-focus-opacity);
  		border-color: 		$btn-outline-border-color;
			color:      			$value;
		}

		&:not(:disabled):not(.disabled):active,
		&:not(:disabled):not(.disabled).active {
  		background-color: 	rgba($value, $btn-outline-active-opacity);
  		border-color: 		$btn-outline-border-color;
			box-shadow: 			none;

  		&:focus {
  			box-shadow:	none;
  		}
		}

		&:disabled,
		&.disabled {
  		border-color: 		$btn-outline-border-color;
  		color:				rgba($black,$btn-disabled-opacity);
			opacity:			100;
		}
	}
}



//Forms

.custom-select {
	&:focus {
		//increase width to 2px on focus
		border-width:	2px;
	}

}
